.subheader{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.subheader h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 43px;
  color:rgb(47,79,79);
  text-align: center;
  font-family: Roboto;
  margin: 50px 0px;
}
.service-container {
	text-align: center;
	padding: 0px 30px;
}
.icon i {
	font-size: 80px;
	font-size: 5rem;
	color:rgb(47,79,79);
}
.service-description-copy {
	font-size: 12px;
}
.icon-row{
  margin-bottom: 15px;
}
.service-container h3 {
  font-size: 28px;
  line-height: 30px;
}
.service-description-copy p{
  font-size: 15px;
  color: #748182;
}
/* Landscape phone to portrait tablet */
@media (min-width:768px) and (max-width: 991px) {
  .icon-title-container{
    height: 145px;
  }
}
